html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: stretch;
    min-height: 100dvh;
    --bg: #eeeeee;
    --bg2: #dddddd;
    --bg3: #e0e0e0;
    --bg4: #e5e7eb;
    --fg: #000;
}


body {
    font-family: Arial;
    text-align: center;
    background: var(--bg);
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    gap:5px;
}

.card1 {
    padding-left: 10px;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 20%;
}

.card2 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    gap: 5px;
    width: 80%;
}

.monitor {
    text-align: left;
    border-radius: 0px;
    height: 20%;
    display: flex;
    gap: 5px;
}


.card3,.card4 {
    text-align: left;
    height: 35%;
    display: flex;
    gap: 5px;
}

.graph,.power, .info {
    padding:5px;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    height: 90%;
    display: flex;
    gap: 5px;
}

.graph, .player-data {
    padding:10px;
    width:60%;
}

.power {
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    width:45%;
    gap:10px;
    display: flex;
    flex-direction: column;
}

.info {
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.cpubox, .rambox, .diskbox, .tempbox {
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center-start;
}

.cpu, .ram, .disk, .temp, .player {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 1%;
}

.cpubar, .rambar, .diskbar, .tempbar {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cpubar {
    background: #ddddff;
}

.rambar {
    background: #dbfae5;
}

.diskbar {
    background: #acdfff;
}

.tempbar {
    background: #ffe2c4;
}

.cpubar2 {
    background: #685CCC;
    padding:10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: flex-start;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rambar2 {
    background: #0FC183;
    padding:10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: flex-start;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.diskbar2 {
    background: #2485EE;
    padding:10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: flex-start;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tempbar2 {
    background: #EE8543;
    padding:10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: flex-start;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cpulogo {
    background:#ddddff;
    border-radius: 12px;
    font-size: 80px;
    display: flex;
    color: #685CCC;
}

.ramlogo {
    background: #dbfae5;
    border-radius: 12px;
    font-size: 80px;
    display: flex;
    color: #0FC183;
}

.disklogo {
    background: #acdfff;
    border-radius: 12px;
    font-size: 80px;
    display: flex;
    color: #2485EE;
}

.templogo {
    background: #ffe2c4;
    border-radius: 12px;
    font-size: 80px;
    display: flex;
    color: #EE8543;
}

.player-logo {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 7px;
    padding-bottom:3px;
    background: #DECCFF;
    border-radius: 24px;
    font-size: 100px;
    display: flex;
    color: #BC46EE;
}

.player {
    display: flex;
    align-items: center;
}

.cpudata, .ramdata, .diskdata, .tempdata {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    grid-template-rows: repeat(2, 1fr);    /* 2 строки */
    width: 95%;
    height: 78%;
    gap: 10px;
}

.btn-grid button {
    width: 100%;
    height: 100%;
}

button {
    font-size: 18px;
    background: var(--bg2);
    color: var(--fg);
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: var(--bg3);
}

.theme {
    width: 44%;
    height: 52%;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    background: var(--bg2);
    color: var(--fg);
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.host {
  position: relative; /* ВАЖНО */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  padding: 2px 16px;
}

.host:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 1px;
  background: var(--bg4);
}

.hostname, .OS, .Kernel, .Up, .IP {
    color: #505050;
}


.dark {
    --bg: #121212;
    --bg2: #181818;
    --bg3: #202020;
    --bg4: #202020;
    --fg: #ffffff;
    color: #ffffff;
}

.head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.graph {
    display: flex;
    flex-direction: column;
}


.theme {
    width: 4%;
    aspect-ratio: 1 / 1;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--bg2);
    color: var(--fg);

    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}

.player-data {
  flex: 1;
  gap:5px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.slider-wrap, .player-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.volume {
  accent-color: #BC46EE;
  width: 50%;
}

.slider {
  width: 100%;
  accent-color: #BC46EE;
}

.btn-play {
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 7px;
    padding-bottom:3px;
    background: #DECCFF;
    color: #BC46EE;
    border-radius: 100px;
}

.btn-next {
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 11px;
    padding-bottom:3px;
    background: #DECCFF;
    color: #BC46EE;
    border-radius: 100px;
}

.btn-prev {
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 11px;
    padding-bottom:3px;
    background: #DECCFF;
    color: #BC46EE;
    border-radius: 100px;
}

.btn-prev:active,.btn-next:active,.btn-play:active  {
  background-color: #BC46EE;
  color: #CD57FF;
}